<h1>aiueo</h1>
<!-- ヘッダー部分 -->
 <%= render 'post_feelings/headertemplate'%>
<!-- ヘッダー部分 -->

<div class="container">
<div class="row">

<!-- サイドバー部分 -->
<div class="col-lg-3">
  <%= render 'post_feelings/sidebartemplate', post_feeling: @post_feeling, user: current_user %>
</div>
<!-- サイドバー部分 -->

<!-- メイン部分 -->
<div class="col-lg-9">
<h1>Users</h1>
<table class="table table-hover">
<thead>
  <tr>
    <th>image</th>
    <th>Name</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @users.each do |b| %>
  <tr>
    <td><%= attachment_image_tag b, :profile_image, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "50x50" %></td>
    <td><%= b.name %>
    </td>
    <td><%= link_to "Show", user_path(b.id) %>
    </td>
  </tr>
</tbody>
<% end %>
</table>
</div>
<!-- メイン部分 -->

</div>
</div>
