<h1>aiueo</h1>
<!-- ヘッダー部分 -->
 <%= render 'post_feelings/headertemplate'%>
<!-- ヘッダー部分 -->

<div class="container">
<div class="row">

<!-- サイドバー部分 -->
<div class="col-lg-3">
  <%= render 'post_feelings/sidebartemplate', post_feeling: @post_feeling, user: @user %>
</div>
<!-- サイドバー部分 -->

<!-- メイン部分 -->
<div class="col-lg-9">
<h1>Books</h1>
<%= flash[:success] %>
<table class="table table-hover">
<thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
</thead>
<tbody>
  <% @post_feelings.each do |b| %>
  <tr>
    <td><%= attachment_image_tag b.user, :profile_image, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "50x50" %></td>
    <td><%= link_to b.title, post_feeling_path(b.id) %></td>
    <td><%= b.body %></td>
  </tr>
</tbody>
<% end %>
</table>
</div>
<!-- メイン部分 -->

</div>
</div>
