<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">

      <!-- ログイン時 -->
      <% if user_signed_in? %>
      <li><%= link_to  user_path(current_user.id) do %>
        <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
        <span>Home</span>
      <% end %></li>
      <li><%= link_to  users_path do %>
        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
        <span>Users</span>
        <% end %>
      </li>
      <li>
        <%= link_to  books_path do %>
          <i class="glyphicon glyphicon-book" aria-hidden="true"></i>
          <span>Books</span>
        <% end %>
      </li>
      <li>
        <%= link_to  destroy_user_session_path, method: :delete do
         %>
          <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
          <span>logout</span>
          <% end %>
      </li>
      <!-- ログイン時 -->

      <!-- 非ログイン時 -->
      <% else %>
      <li><%= link_to  root_path do %>
        <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
        <span>Home</span>
      <% end %></li>
      <li><%= link_to  about_path do %>
        <i class="glyphicon glyphicon-link" aria-hidden="true"></i>
        <span>About</span>
        <% end %>
      </li>
      <li>
        <%= link_to  new_user_registration_path do %>
          <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
          <span>sign up</span>
        <% end %>
      </li>
      <li>
        <%= link_to  new_user_session_path  do %>
          <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
          <span>login</span>
        <% end %>
      </li>
      <% end %>
      <!-- 非ログイン時 -->

  </div>
</header>
